<launch>
    <arg name="show_rviz" default="true" doc="Wether to show rviz or not" />
    <arg name="rviz_file" default="nav"/>

    <node 
        name="rviz" 
        pkg="rviz" 
        type="rviz"
        args="-d $(find arena_bringup)/rviz/$(arg rviz_file).rviz"
        if="$(arg show_rviz)"
    />
</launch>